*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
}

body{
    color: #fff;
    background-color: black;
}
h1,h2,h3,h4,h5,h6{
    font-family: sans-serif;
}
h1{
    font-size: 70px;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 26px;
}
.container{
    max-width: 1166px;
    margin: 0 auto;
}
header{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    z-index: 1;
}
header ul{
    padding-left: 0;
}

header ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
}
header ul li a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
.logo img{
    height: 65px;
}
.banner{
    height: 100vh;
    background: url(../IMAGES/milky-way-5295155_640.jpg) no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: flex-end;
}
.banner .text{
    text-align: center;
    padding-bottom: 100px;
}

.banner h1{
    line-height: 70px;
    font-weight: 300;
    margin-bottom: 10px;
}
.button{
    position: relative;
    display: inline-block;
    width: 250px;
    height: 60px;
    background-color: white;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    z-index: 9;
    margin-top: 50px;
    transition: all ease 0.5s;
}
.button:before{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: black;
    opacity: 0.9;
    z-index: -1;
    transition: all ease 0.5s;
}
.button:hover{
    color: white;
}
.button:hover:before{
    top: 0;
    height: 100%;
}
.brand-logo{
    padding: 20px 0;
}
.brand-logo-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.item img{
    padding: 0 10px;
    height: 60px;
}
.sec1{
    position: relative;
    padding: 50px 5px;
}
.sec1 h3{
    text-transform: uppercase;
    line-height: 40px;
}

.sec1 p{
    line-height: 32px;
}
.sec1-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sec1 .text{
    width: 47%;
}
.sec1 .text-left{
    text-align: right;
}
.sec1 .text-right{
    text-align: left;
}

.sec1:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, transparent, white, transparent);
}
.sec1:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, transparent, white, transparent);
}

.sec2{
    padding: 100px 0;
}
.sec2 h2{
    text-transform: uppercase;
}
.sec2 p{
    line-height: 30px;
}
.sec2-inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.sec2-inner .image{
    width: auto;
}
.sec2-inner .text{
    width: 50%;
    margin-left: -65px;
    z-index: 9;
}
.sec2 .text-inner{
    position: relative;
    margin: 55px 0 0 190px;
}
.sec2 .text-inner:before{
    content: "";
    position: absolute;
    top: 8px;
    left: -30px;
    width: 1px;
    height: 100%;
    background: linear-gradient(to top, transparent, white);
}
.left-right-sec:nth-child(even) .text{
    margin-right: -65px;
    text-align: right;
}
.left-right-sec:nth-child(even) .text-inner{
    margin: 55px 190px 0 0;
}
.left-right-sec:nth-child(even) .text-inner:before{
    left: inherit;
    right: -30px;
}
.sec3{
    padding: 150px 0;
}
.sec3 h2{
    text-transform: uppercase;
    max-width: 60%;
}
.sec3-slider{
    margin-top: 90px;
}
.slick-arrow{
    position: absolute;
    top: -160px
}
.slick-prev{
    left: inherit;
    right: 180px;
}
.slick-next{
    right: 90px;
}
.slick-next::before,
.slick-prev::before{
    content: "";
    position: absolute;
    top: 0;
    left: o;
    background: white url(../IMAGES/chevron-right-double-svgrepo-com.svg) no-repeat;
    background-size: 30px;
    background-position: center;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border: 1px solid white;
    opacity: 1;
}
.slick-prev:before{
    background: gray url(../IMAGES/chevron-left-double-svgrepo-com.svg) no-repeat;
    background-size: 30px;
    background-position: center;
    
}
.sec4{
    padding: 100px 0;
}
.sec4 h2{
    text-transform: uppercase;
}
.sec4-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 90px;
}
.box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    min-height: 270px;
    border: 1px solid white;
    margin-bottom: 40px;
    overflow: hidden;
}
.box h6{
    font-size: 18px;
    font-weight: 400;
}
.sec4-boxes .img{
    position: absolute; 
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: all ease 1s;
}
.box:hover .img{
    opacity: 1;
}

.futer{
    position: relative;
    padding: 50px 0;
}
.footer-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-inner .col{
    padding-right: 50px;
}
.futer ul{
    margin-left: 0;
}
.futer ul li{
    list-style: none;
    margin-bottom: 30px;
}
.futer ul li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.futer:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, transparent, white, transparent);
}
.futer:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, transparent, white, transparent);
}
.copyright{
    padding: 25px 0;
    text-align: center;
}
.copyright p{
    font-size: 1em;
}






